[user]
  name = Rueshyna
  email = rueshyna(XD)gmail.com
[color]
  ui = auto
  branch = auto
  interactive = auto
  status = auto
  showbranch = auto
[merge]
  ff = false
  log = true
[diff]
  renames = copy
[push]
  default = tracking
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
